body {
   padding: 0px;
   margin: 0px;
}

.app {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: linear-gradient(
         rgba(255, 255, 255, 0.5),
         rgba(255, 255, 255, 0.3)
      ),
      url("https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

form {
   background-color: #fff;
   padding: 0px 60px;
   border-radius: 10px;
}

h1 {
   color: rgb(77 1 77);
   text-align: center;
}

button {
   width: 100%;
   height: 50px;
   padding: 10px;
   border: none;
   background-color: rebeccapurple;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
   margin-top: 15px;
   margin-bottom: 30px;
}
